<!-- <div class="form-group">
    <label for="title">Title</label>
    <input required value="<%=article.title%>" type="text" name="title" class="form-control">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%=article.description%></textarea>
</div>
<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%=article.markdown%></textarea>
</div>
<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Blog Website</title>
</head>

<body>

    <nav class="w-full h-16 bg-slate-100/10 border-slate-300 shadow-md">
        <div class="flex justify-center items-center">
            <img src="https://bharatintern.live/static/logo-d7abe237292b840869fa4f33f0e74976.png" class="w-24 mt-3" alt="">
            <span class="inline-flex mx-2 mt-1.5 text-slate-700 font-sm font-bold">Internship Assessment</span>
        </div>
    </nav>

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg">
            <h1 class="text-center text-2xl font-bold bg-gradient-to-r from-cyan-500 to-blue-500 text-white sm:text-3xl py-3 px-2">Edit your Blog</h1>

            <p class="mx-auto mt-4 max-w-md font-semibold text-center text-gray-500">
                Here you can edit, can change your blog content.
            </p>

            <div class="mb-0 mt-12 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
                <form action="#">
                    <p class="text-center text-zinc-700 text-lg font-semibold">Make changes to your content</p>

                    <div>
                        <label for="title" class="sr-only">Title</label>

                        <div class="relative">
                            <input required value="<%=article.title%>" type="text" name="title"
                                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                placeholder="Enter title" />

                            <!-- <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                                </svg>
                            </span> -->
                        </div>
                    </div>

                    <div>
                        <label for="description" class="sr-only">Description</label>

                        <div class="relative">
                            <input required value="<%=article.description%>" name="description" type="description"
                                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                placeholder="Enter description" />


                            <!-- <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                            </span> -->
                        </div>
                    </div>


                    <div>
                        <label for="markdown" class="sr-only">Markdown</label>

                        <div class="relative">
                            <input required value="<%=article.markdown%>" required name="markdown" id="markdown"
                                type="markdown" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                placeholder="Enter markdown" />


                            <!-- <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                            </span> -->
                        </div>
                    </div>

                    <div class="flex inline-block gap-x-2 mt-16">
                        <a href="/">
                            <button type="submit"
                                class="block w-24 rounded-full bg-pink-600 px-5 py-3 text-sm font-medium text-white">
                                Cancel
                            </button>
                        </a>
                        <button type="submit"
                            class="block w-24 rounded-full bg-green-400 px-5 py-3 text-sm font-medium text-white">
                            Save
                        </button>

                    </div>


                    <!-- <p class="text-center text-sm text-gray-500">
                    No account?
                    <a class="underline" href="#">Sign up</a>
                </p> -->
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>