<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/style.css">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Blog Website</title>
</head>

<body class="main-body">

    <nav class="w-full h-16 bg-slate-100/10 border-slate-300 shadow-md">
        <div class="flex justify-center items-center">
            <img src="https://bharatintern.live/static/logo-d7abe237292b840869fa4f33f0e74976.png" class="w-24 mt-3" alt="">
            <span class="inline-flex mx-2 mt-1.5 text-slate-700 font-sm font-bold">Internship Assessment</span>
        </div>
    </nav>

    <div class="flex justify-center align-center mt-16">

        <a href="/articles/new"
            class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                src="https://bharatintern.live/static/logo-d7abe237292b840869fa4f33f0e74976.png" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Bharat Intern
                    Blog Website</h5>
                <p>Write the blog now!</p>

                <button type="button"
                    class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-6">
                    Create New Article
                </button>
            </div>
        </a>

    </div>


    <hr class="mt-16 border-2 border-dashed border-slate-600">

    <!-- <div class="container">

        <% articles.forEach(article=>{%>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%=article.title%>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%=article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%=article.description%>
                    </div>
                    <a href="articles/<%=article.slug%>" class="btn btn-primary">Read More</a>
                    <a href="articles/edit/<%= article.id%>" class="btn btn-info">Edit</a>
                    <form action="/articles/<%=article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

            <%})%>
    </div> -->

    <div class="flex justify-center min-w-min text-2xl text-slate-50 font-semibold mx-16 mt-10">
        <h1 class="text-center w-84 px-2 py-1.5 bg-gradient-to-r from-cyan-500 to-blue-500">
            Created blogs will appear here:
        </h1>
    </div>

    <div class="grid grid-cols-3 gap-4 mt-16 mx-16 mb-16">

        <% articles.forEach(article=>{%>
            <div
                class="max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-600">
                        <%=article.title%>
                    </h5>
                </a>

                <p class="mb-3 font-normal text-gray-700 dark:text-gray-500">
                    <%=article.description%>
                </p>

                <p class="mb-6 font-normal text-gray-700 dark:text-gray-500">
                   <span>Created on:</span> <%=article.createdAt.toLocaleDateString() %>
                </p>


                <a href="articles/<%=article.slug%>">
                    <button
                        class="text-white bg-blue-700 hover: focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-3 py-2 text-center me-1 mb-2 dark:bg-teal-400 dark:hover:bg dark:focus:ring-blue">Read
                        More</button>
                </a>


                <a href="articles/edit/<%= article.id%>">
                    <button
                        class="text-white bg-blue-700 hover: focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-3 py-2 text-center me-2 mb-2 dark:bg-green-400 dark:hover:bg dark:focus:ring-blue">Edit</button>
                </a>

                <form action="/articles/<%=article.id %>?_method=DELETE" method="POST" class="inline-flex items-center">
                    <button type="submit"
                        class="text-white bg-blue-700 hover: focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-3 py-2 text-center me-2 mb-2 dark:bg-rose-600 dark:hover:bg dark:focus:ring-blue">Delete</button>

                </form>

            </div>
            <%})%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>